@font-face {
  font-family: "Amare-Alta";
  src: url("Amare-Alta/Amare-Alta.eot?#iefix")
      format("embedded-opentype"),
    url("Amare-Alta/Amare-Alta.otf") format("opentype"),
    url("Amare-Alta/Amare-Alta.woff") format("woff"),
    url("Amare-Alta/Amare-Alta.ttf") format("truetype"),
    url("Amare-Alta/Amare-Alta.svg#Amare-Alta") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amare-Linnea';
  src: url('Amare-Linnea/Amare-Linnea.eot?#iefix') format('embedded-opentype'),
      url('Amare-Linnea/Amare-Linnea.otf')  format('opentype'),
      url('Amare-Linnea/Amare-Linnea.woff') format('woff'),
      url('Amare-Linnea/Amare-Linnea.ttf')  format('truetype'),
      url('Amare-Linnea/Amare-Linnea.svg#Amare-Linnea') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Amare-Medium';
  src: url('Amare-Medium/Amare-Medium.eot?#iefix') format('embedded-opentype'),
      url('Amare-Medium/Amare-Medium.otf')  format('opentype'),
      url('Amare-Medium/Amare-Medium.woff') format('woff'),
      url('Amare-Medium/Amare-Medium.ttf')  format('truetype'),
      url('Amare-Medium/Amare-Medium.svg#Amare-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
