
@font-face {
  font-family: 'Amare-Linnea';
  src: url('Amare-Linnea.eot?#iefix') format('embedded-opentype'),  url('Amare-Linnea.otf')  format('opentype'),
	     url('Amare-Linnea.woff') format('woff'), url('Amare-Linnea.ttf')  format('truetype'), url('Amare-Linnea.svg#Amare-Linnea') format('svg');
  font-weight: normal;
  font-style: normal;
}
