@media (min-width: 768px) {
  .mobile {
    display: none !important;
  }
  .page-wrapper {
    display: flex;
  }
}

@media (max-width: 768px) {
  .mobile {
    display: block !important;
  }
  .theme-page {
    display: none;
    &.active {
      display: block;
    }
  }
}
