@media (max-width: 768px) {
  #docked-menu {
    position: fixed;
    bottom: 0;
    padding: 12px 21px;
    width: 100%;
    border: 1px solid $alianza-apple;
  }

  #mobile-navigation {
    display: block;
  }
  .top-nav-text,
  #menu-selection {
    display: none;
    height: calc(100% - 48px);
    &.show {
      display: block;
      position: absolute;
      top: 0;
      z-index: 3;
      background: #fff;
    }
    .menu-row {
      width: 100vw;
      height: calc(100% / 7);

      a {
        color: $alianza-apple;
      }
    }
  }
}

@media (min-width: 768px) {
  #mobile-navigation {
    display: none;
  }

  .vertical-text {
    transform-origin: 0 0;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
  }
  .theme-page {
    height: 100vh;
    width: 2rem;
    transition: width 1s;
    &.inactive:hover {
      width: 3rem;
    }
    &.active {
      width: calc(100% - 10rem);
      .nav-index {
        display: none;
      }
    }
  }
}

.menu-row {
  position: relative;
  border: 1px solid $alianza-apple;

  &.inactive:hover {
    background: $alianza-apple;
    .nav-index {
      color: #fff;
    }
  }
  &.active {
  }
}
