@media (max-width: 768px) {
  #docked-menu {
    position: fixed;
    bottom: 0;
    padding: 12px 21px;
    width: 100%;
    border: 1px solid $alianza-apple;
    background: #fff;
    z-index: 10;
  }

  #mobile-navigation {
    display: block;
  }
}

@media (min-width: 768px) {
  #mobile-navigation {
    display: none;
  }

  .vertical-text {
    transform-origin: 0 0;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
  }
}
