@media (max-width: 768px) {
  #docked-menu {
    position: fixed;
    bottom: 0;
    padding: 12px 21px;
    width: 100%;
    border: 1px solid $alianza-apple;
    background: #fff;
    z-index: 10;
  }

  #mobile-navigation {
    display: block;
  }
  // #menu-selection {
  //   &.show {
  //     display: block;
  //     position: fixed;
  //     top: 0;
  //     z-index: 3;
  //     background: #fff;
  //   }
  //   .menu-row {
  //     width: 100vw;
  //     height: calc(100% / 8);
  //     position: relative;
  //     border-bottom: 1px solid $alianza-apple;
  //     a {
  //       position: absolute;
  //       position: absolute;
  //       top: 50%;
  //       -ms-transform: translateY(-50%);
  //       transform: translateY(-50%);
  //       color: $alianza-apple;
  //       width: calc(100% - 2rem);
  //       span {
  //         right: 0;
  //       }
  //     }
  //   }
  // }
}

@media (min-width: 768px) {
  #mobile-navigation {
    display: none;
  }

  .vertical-text {
    transform-origin: 0 0;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
  }
  // .theme-page {
  //   height: 100vh;
  //   width: 2rem;
  //   transition: width 1s;
  //   &.inactive:hover {
  //     width: 3rem;
  //   }
  //   &.active {
  //     width: calc(100% - 10rem);
  //     .preview {
  //       display: none;
  //     }
  //   }
  // }

  .menu-row {
    position: relative;
    border: 1px solid $alianza-apple;

    &.inactive:hover {
      background: $alianza-apple;
      .preview {
        color: #fff;
      }
    }
  }
}
